.main-content {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.d-block.w-100 {
  height: 400px;
}
.home-section {
  margin-bottom: 25px;
}
.section-content {
  text-align: center;
}
.section-content h1 {
  margin-top: 25px;
}
.section-content .btn-home {
  width: 14%;
  height: 48px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
}
.home-content {
  display: block;
  width: 100%;
}
.content-wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.home-image {
  width: 100%;
  /* padding-right: 12px; */
  border: 1px solid #e5e5e7;
  padding: 5px;
}
.home-image:not(:nth-child(5n)) {
  margin-right: 8px;
}
.product-home a {
  margin-right: 20px;
  /* background-color: #fff;
  position: relative;
  width: 100%;
  display: flex;
  height: 100%; */
}
.content-wrapper a {
  margin-right: 15px;
}
.content-wrapper img {
  width: 240px;
  height: 330px;
  object-fit: contain;
}
.home-product-details {
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 0px; */
  max-width: 100%;
  padding-right: 5rem;
  padding-left: 5rem;
}
.home-banner1,
.home-banner2 {
  display: flex;
  flex-wrap: wrap;
}
.home-banner1,
.home-banner2 {
  margin: 40px 30px;
  background: antiquewhite;
  padding: 20px;
}
.home-banner2 {
  background: aliceblue;
}

.home-product-details1 {
  width: 50%;
  padding: 25px 0 25px 25px;
  text-align: start;
}
.home-product-details1 h1 {
  margin-top: 20px;
}
.btn-shop1 {
  margin-top: 30px;
}
.home-product-details2 {
  width: 50%;
  padding: 25px 25px 25px 0;
  text-align: start;
}
.banner-image1,
.banner-image2 {
  width: 50%;
}
.banner-image1 img {
  width: 500px;
  height: 500px;
  float: right;
}
.btn-shop1,
.btn-shop2 {
  border: none;
  font-size: 18px;
  width: 25%;
  height: 48px;
  background: black;
  color: wheat;
  padding: 10px;
}
.banner-image2 img {
  width: 500px;
  height: 500px;
  float: left;
}
